body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background: #fff;
  width: 90%;
}
.content {
  text-align: center;
  margin-bottom: 70px;
}
.header {
  font-size: 42px;
}
.img {
  display: flex;
  margin: 0 auto;
  height: 40vh;
  width: 80%;
  border-radius: 5%;
}
.container {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  border-color: white;
}
.container2 {
  display: flex;
  width: 100%;
}
